@model LibraryAppMVC.ViewModels.Book.UpdateBookViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantita" class="control-label"></label>
                <input asp-for="Quantita" class="form-control" />
                <span asp-validation-for="Quantita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPubblicazione" class="control-label"></label>
                <input asp-for="DataPubblicazione" class="form-control" value="@Model.DataPubblicazione.ToString("yyyy-MM-dd")" type="date"/>
                <span asp-validation-for="DataPubblicazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genere" class="control-label"></label>
                <input asp-for="Genere" class="form-control" />
                <span asp-validation-for="Genere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" type="number" step=".01" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Autore</label>
                <select asp-for="AuthorId" class="form-control" asp-items="@Model.AuthorsList"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
