@model LibraryAppMVC.ViewModels.Reviews.UpdateReviewViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review - @Model.TitoloBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Testo" class="control-label"></label>
                <textarea asp-for="Testo" class="form-control" rows="5" cols="30"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Book</label>
                <select asp-for="BookId" class="form-control" asp-items="Model.BooksList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}